<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43777228882-mrk47valltujhop2tuumag4n67u70k7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43777228882-mrk47valltujhop2tuumag4n67u70k7f</string>
	<key>API_KEY</key>
	<string>AIzaSyCMHDD11hlObOSwq4EgAxaxybQRzMoN92E</string>
	<key>GCM_SENDER_ID</key>
	<string>43777228882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezequielbrrt.domemory</string>
	<key>PROJECT_ID</key>
	<string>domemory-c9211</string>
	<key>STORAGE_BUCKET</key>
	<string>domemory-c9211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43777228882:ios:5f89846449da73ba9f5f8b</string>
	<key>DATABASE_URL</key>
	<string>https://domemory-c9211.firebaseio.com</string>
</dict>
</plist>